.landing-page {
  height: 100%;
}
.landing-page-container .carousel-root {
  width: 30%;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Thumbnail slides */
.landing-page-container .carousel:nth-child(2) {
  width: 90vw;
}

.landing-page-container .carousel-slider {
  width: 80% !important;
  border-radius: 5px;
}

.landing-page-container {
  width: 100%;
  height: 90%;

  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; */
}

.text-area {
  width: 300px;
}

/*  */

/* .images-slider {
  width: 100%;
  height: 700px;

  display: grid;
  grid-template-columns: repeat(3, 100%);

  overflow: hidden;
  scroll-behavior: smooth;
}

section {
  position: relative;
  overflow: hidden;
}

a {
  height: 100%;
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;

  text-decoration: none;
  color: #fff;
}

.image-items {
  display: flex;
  margin-top: 50px;
}

.image-items img {
  margin: 0px 10px;
}

.image-items img:hover {
  cursor: pointer;
  margin: 0 40px;
  transform: scale(1.2);
}

#section1 {
  width: 100%;
  height: 350px;
  background-color: salmon;
}

#section2 {
  width: 100%;
  height: 350px;
  background-color: rgb(6, 93, 64);
}

#section3 {
  width: 100%;
  height: 350px;
  background-color: rgb(47, 3, 77);
}

#voltar,
#avancar {
  height: 100%;
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;

  text-decoration: none;
  color: #fff;
}

#voltar {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

#avancar {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
} */
