.images-slider {
  display: flex;
  position: relative;
}

.backward,
.foward {
  width: 3%;
  height: 100%;
  position: absolute;
  /* margin-top: 110px; */
  color: #fff;
}

.backward {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.foward {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
